
html {
  background-color: rgb(255, 255, 255, 0.8) !important;
  overflow-x: hidden;
}

body {
  display: block;
  place-items:unset;
  min-height: unset;
  min-width: unset;
  background-color: #303030;
}

h1, h2, h3, h4 {
  margin: 0;
}

.global_app {
  /* background-color: white; */
}


/* entete */
.entete {
  width: 100%;
  height: 20vh;
  background-color: #303030;
  color: rgb(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 2%;
}

/* .global_m {
  background-color: #303030;
} */

.blanc {
  padding: 10px;
  background-color: rgb(255, 255, 255, 0.8);
}

.img_e {
  height: 50px;
}

.titre_e {
  /* margin: 0 auto; */
  font-size: 2em;
}

.titre_m {
  margin: 0 auto;
  cursor: pointer;
  border-radius: 3px;
  padding: 5px;
  /* border: 1px solid; */
  /* border-color: rgb(255, 255, 255, 0.8); */
  font-size: 0.9em;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  color: #303030;
  width: 60%;
  margin: 0 auto;
  
}

.global_e {
  background-color: rgb(255, 255, 255, 0.8);
  /* margin-bottom: 2%; */
  border: 1px solid;
  border-color: #303030;
}

.global_n {
  background-color: red;
  padding: 10px;
  margin: 0 auto;
  width: 50%;
  border-radius: 5px;
  /* align-items: center; */
  text-align: center;
}

.input_n {
  /* background-color: red; */

}

.global_g {
  text-align: center;
  /* margin-top: 2%; */
  background-color: rgb(255, 255, 255, 0.8);
}


/* corps */
.global_c {
  background-color: rgb(255, 255, 255, 0.8);
  width: 100%;
}

.bvn {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  color: #303030;
}

.bvn_c {
  text-align: center;
  font-weight: 100;
  margin-bottom: 2%;
  color: #303030;
}

.centre {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  margin: 0 auto;
}

.img_c {
  height: 500px;
  max-width: 100%; /* Évite que l'image dépasse la largeur de son conteneur */
  object-fit: contain; /* Ajuste l'image pour rester dans le cadre sans déformation */
  margin-bottom: 2%;
  border-radius: 3px;
  border: 1px solid;
  border-color: #303030;
}


/* graphique */
.inp_g {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.selec {
  text-align: center;
}